/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/vendor_orig/



#ignore client asset files#
###########################
src/Cms/ClientAssets/css/*
src/Cms/ClientAssets/js/*
web/ClientAssets
