.login-form {
    padding-bottom: 8px;
}
.login {
    display: block;
    margin: 0px auto;
}
@media (max-width: 700px) {
    .login-form {
        background-color: #2C3E50;
        padding: 0px;
        padding-left: 12px;
    }
}