.container-fluid {
    margin-top: 20px;
}
.wizard-nav-name-container {
    position: relative;
    background: #1abc9c;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
    color: #34495e;
    padding: 19px 25px 20px;
}
.wizard-nav-name-container i {
    position: relative;
    top: 5px;
}
.wizard-nav-name-container h4 {
    font-size: 19px;
    font-weight: bold;
    color: #34495E;
}
.wizard-nav-name-icon {
    position: relative;
    top: 4px;
}
h4 {
    color: #2C3E50;
}
#wizard-content {
    border: 1px solid #BDC3C7;
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    color: #2C3E50;
}
.wizard-header {
    border-bottom: 1px solid #BDC3C7;
    padding-bottom: 4px;
    margin-bottom: 20px;
}
.close {
    text-decoration: none;
    font-size: 32px;
    position: relative;
    top: 3px;
    color: #2C3E50;
}
.flat-form-container {
    background-color: #ffffff;
    color: #1ABC9C;
}
.flat-form-container label {
    font-size: 16px;
    color: #2C3E50;
}
.flat-form-container input, .flat-form-container textarea {
    background-color: #ffffff;
    font-size: 18px;
    word-wrap: break-word;
    margin-bottom: 10px;
    font-weight: bold;
}
.flat-form-container textarea {
}
.wizard-footer {
    padding-top: 25px;
    border-top: 1px solid #BDC3C7;
}
#primary-progress-label {
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #7F8C8D;
}
#primary-progress-label .percent-complete {
    margin-right: 5px;
}
#input-code-content {
    position: relative;
    width: 100%;
    min-height: 470px;
    margin-bottom: 20px;
    border: 2px solid #BDC3C7;
    border-radius: 5px;
}
.holder-includes {
    background-color: #34495E;
    color: #ffffff;
    font-size: 17px;
    border-radius: 6px;
    padding: 23px;
}
.holder-includes b {
    color: #ffffff;
}
.holder-includes a {
    text-decoration: none;
    font-weight: bold;
}
.todo-active {
    color: #2ECC71;
}
.todo-active .todo-name {
    color: #2ECC71;
}
.vertical-divider {
    margin-left: 10px;
    margin-right: 10px;
}
.layout-selector{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #BDC3C7;
    margin-bottom: 20px;
    position: relative;
    left: 1px;
}
.new-template-layout {
    margin-bottom: 20px;
}
.btn-mini {
    padding: 3px 6px;
    font-size: 14px;
}
.layout-fullname-td {
    font-size: 19px;
}
.template-layout-name {
    font-size: 21px;
}
.layout-selector h4 {
    color: #34495E;
}
.nav-layouts {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    background-color: #34495E;
    padding-left: 70px;
}