h1 {
    display: inline;
}
#add-new {
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
}
#search-container {
    margin: 14px 0px;
}
#search {
    /*height: 17px;*/
    max-width: 410px;
}
#header a {
    color: #3498DB;
    font-size: 18px;
}
.btn-lower {
    padding-top: 7px;
}
@media (max-width: 767px) {
    #search-container {
        max-width: 692px;
    }
    #search {
        max-width: none;
    }
}
#edit, #delete {
    width: 77px;
}
#edit {
    margin-right: 10px;
}
#pag-next, #pag-previous {
    width: 54px;
}
#pag-previous {
    margin-right: 12px;
}
#master-checkbox-container {
    position: relative;
    top: 12px;
}
.checkbox-td {
    margin-top: 6px;
}
#content-type-alert {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}
table {
    margin-top: 20px;
}
table a {
    text-decoration: none;
    color: #3498DB;
}
table thead {
    font-size: 16px;
}