#content-type-alert {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}
.quick-action-container {
    min-height: 20px;
}
@media (min-width: 767px) {
    .edit, .delete {
        max-width: 79px;
    }
    .pag-next, .pag-previous {
        max-width: 80px;
    }
    .pag-previous {
        margin-right: 8px;
    }
}
@media (max-width: 400px){
    .data-group-2 {
        display: none;
    }
}
@media (max-width: 767px) {
    #search-container {
        max-width: 100%;
    }
    #search {
        max-width: none;
    }
    .data-group-3 {
        display: none;
    }
}
@media (max-width: 979px) {
    .mobile-gap {
        margin-bottom: 10px;
    }
    .data-group-4 {
        display: none;
    }
}
@media (max-width: 1025px){
    .select-extra{
        display: none;
    }
}