input[type="text"], textarea {
    font-size: 18px;
}
#url-container{
    padding: 10px 0px 20px 0px;
    font-size: 22px;
}
#view-html {
    min-height: 400px;
}
#notice-container {
    position: relative;
    top: 18px;
}
.label {
    font-size: 18px;
    padding: 4px 8px 6px;
}
.label:hover {
    cursor: pointer;
}
#domain-container {
    margin-bottom: 20px;
}
#domain-selector {
    margin-top: -20px;
    margin-bottom: 24px;
}
#slug-selector {
    margin-top: -20px;
    margin-bottom: 24px;
}