input[type="text"], textarea {
    font-size: 18px;
}
#url-container{
    padding: 10px 0px 12px 0px;
    font-size: 20px;
}
#view-html {
    min-height: 400px;
}
#notice-container {
    position: relative;
    top: 18px;
}