input[type="text"], textarea {
    font-size: 18px;
}
label {
    font-size: 18px;
}
a {
    font-size: 15px;
    font-weight: bold;
}
#url-container{
    font-size: 22px;
}
@media (max-width: 400px){
    #url-container {
        margin-bottom: 20px;
    }
}
#view-html {
    min-height: 400px;
}
.label {
    font-size: 18px;
    padding: 4px 8px 6px;
}
.label:hover {
    cursor: pointer;
}
#domain-container {
    margin-bottom: 20px;
}
#domain-selector {
    margin-bottom: 20px;
}
#notice-container {
    min-height: 48px;
}
#input-state {
    margin-top: 20px;
}
.ui-datepicker {
    margin-top: 10px;
}
#publish-holder button {
    margin-bottom: 10px;
}
#publish-holder i {
    margin-right: 5px;
}
@media (max-width: 1290px){
    #publish-holder i {
        display: block;
    }
}
.holder {
    margin-bottom: 20px;
}
#tags-holder{
    font-size: 15px;
}
#tags-holder h4 {
    margin-bottom: 20px;
}
.tag {
    font-size: 17px;
}
#state-container {
    margin-bottom: 20px;
}
.checkbox {
    position: relative;
    top: 8px;
}
#table-category {
    margin-bottom: 14px;
}
#table-category i:hover {
    cursor: pointer;
}
#table-category .category-parent-name:hover {
    cursor: pointer;
}
.category-sub {
    padding-left: 40px;
}
.category-sub-checkbox {
    padding-left: 30px;
}
.category-title {
    min-width: 180px;
}
.category-toggle-icon {
    width: 100%;
    text-align: right;
}
#mobile-quick-publish-container {
    margin-bottom: 15px;
}
#mobile-quick-publish-container .btn {
    display: inline;
    width: 45%;
}
@media (max-width: 768px){
    #publish-holder{
        padding-top: 15px;
    }
    #cancel-add-category {
        margin-bottom: 10px;
    }
}
.fields-container h4 {
    margin-bottom: 3px;
    display: inline-block;
}
.field-key-value-pairs-container {
    border: solid 2px #BDC3C7;
    border-radius: 6px;
    min-height: 67px;
    padding: 20px 30px 10px 30px;
    font-size: 20px;
}
.field-key-value-pairs-container footer {
    border-top: 1px solid #ECF0F1;
    padding: 20px 0px 0px 0px;
}
.add-field {
    border-top: 1px solid #ECF0F1;
    margin-top: 20px;
    padding-top: 20px;
}
.field-key {
    position: relative;
    top: 7px;
}
#add-field-footer-btn-container .btn {
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .remove-field{
        position: relative;
        top: -30px;
        float: right;
        margin-right: 10px;
    }
    .create-field-key {
        margin-bottom: 20px;
    }
}