{% extends 'CmsCoreBundle:Welcome:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsUserBundle/Resources/public/css/login.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <section class="span offset4">
                <div class="login-container">
                    <div class="login-form">
                        {% if error %}
                            {% if error.message == 'Bad credentials' %}
                                <div class="alert alert-warning"><i class="icon-warning-sign"></i> Incorrect email or password</div>
                            {% endif %}
                        {% endif %}
                        <form action="{{ path('login_check') }}" method="post">
                            <div class="control-group">
                                <label class="login-field-icon fui-user" for="username"></label>
                                <input type="text" id="username" class="login-field span" name="_username" value="{{ last_username }}" placeholder="email" required/>
                            </div>
                            <div class="control-group">
                                <label class="login-field-icon fui-lock" for="login-pass"></label>
                                <input type="password" id="login-pass" name="_password" class="login-field span" placeholder="password" />
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label for="remember_me" id='remember-me-label'>
                                        <input type="checkbox" id="remember_me" name="_remember_me" class="checkbox-type" checked /><span id='remember-me-label-text'> remember me</span>
                                    </label>
                                    <input type="submit" value="Login" class="btn btn-danger btn-large btn-block" />
                                </div>
                            </div>
                            {#
                                If you want to control the URL the user is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}