body {
    font-size: 18px;
}
.row {
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#topnav-container {
    background-color: #ECF0F1;
}
#primary-content {
    padding-top: 30px;
    background-color: #2C3E50;
    color: white;
    text-align: center;
}
#primary-image-wrapper {
    text-align: center;
}
#primary-content h1 {
    text-align: center;
}
#primary-cta {
    margin-top: 20px;
    width: 80%;
}
h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
h2.tile-title {
    font-size: 26px;
}
#features {
    padding-top: 30px;
    padding-bottom: 5px;
    color: #34495E;
    background-color: #BDC3C7;
}
#features .tile:hover {
    cursor: pointer;
    background-color: white;
}
.icon-bolt-hover {
    color: #F1C40F;
}
.icon-cloud-hover {
    color: #3498DB;
}
.icon-globe-hover {
    color: #16A085;
}
.icon-magic-hover {
    color: #8E44AD;
}
.icon-cog-hover {
    color: #2ECC71;
}
.icon-heart-hover {
    color: #C0392B;
}
.icon-tablet-hover {
    color: #E67E22;
}
.icon-sitemap-hover {
    color: #16A085;
}
.icon-thumbs-up-hover {
    color: #2980B9;
}
#testimonials {
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: #2c3e50;
    color: white;
}
#testimonials h2 {
    text-align: center;
    padding-bottom: 0px;
    margin-top: 40px;
    font-size: 26px;
}
#testimonials .row-title {
    margin-bottom: 0px;
}
.quote-block {
    margin-top: 60px;
}
blockquote {
    margin: 14px 0px;
    margin-bottom: 20px;
}
.img-circle {
    border: 5px solid white;
}
#signup-blocks {
    padding-top: 20px;
    background-color: white;
    background-color: #BDC3C7;
}
.tile {
    background-color: #edeff1;
    padding-bottom: 38px;
}
.tile h3, .tile h2 {
    font-size: 32px;
    padding: 20px;
}
.tile p {
    font-size: 18px;
}
.tile-signup .btn {
    width: 70%;
}
.tile i {
    position: relative;
    bottom: 12px;
}
#footer {
    padding-top: 20px;
    background-color: #BDC3C7;
}
#footer ul, #footer li {
    list-style: none;
    display: inline-block;
    padding: 3px 10px 0px;
    font-size: 16px;
}
#footer a {
    color: #2980B9;
}
.btn-xlarge {
    padding: 16px 24px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 7px;
}
#footer ul {
    width: 100%;
    text-align: center;
}
#mobile-imac-container {
    margin-bottom: 14px;
}
@media (max-width: 767px){
    #features {
        background-color: #ffffff;
    }
    #features .row {
        margin-bottom: 0px;
    }
    .tile {
        border-radius: 0px;
    }
    #testimonials h2 {
        margin-bottom: -20px;
    }
    #testimonials .row {
        margin-bottom: 0px;
    }
    #testimonials .row-top {
        margin-bottom: -60px;
    }
    #signup-blocks {
        background-color: #ffffff;
    }
    #footer {
        background-color: #ffffff;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    #new-tech-affix {
        display: none;
    }
}