{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block body %}
    <article>
        <h1>All Themes</h1>
        {% for theme in themes  %}
            <a href="{{ path('cms_core.theme_read', {'id':theme.id}) }}">{{ theme.name }}</a>
        {% else %}
            <b>no themes found</b>
        {% endfor %}

        <section>
            <h2>Create A New Theme</h2>
            <form action="{{ path('cms_core.theme_save') }}" method="post">
                <input type="hidden" name="token" value="{{ token }}"/>
                <input type="text"/>
            </form>
        </section>

    </article>


{% endblock %}