.alert {
    background-color: #F1C40F;
    border: none;
    border-radius: 3px;
    color: dimgrey;
}
.alert-danger {
    background-color: #E74C3C;
    color: white;
}
.alert-info {
    background-color: #3498DB;
    color: white;
    font-size: 18px;
}
.navbar-inverse .navbar-inner {
    background: #2C3E50;
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 10;
}
.navbar-inverse .brand {
    border-radius: 0px;
    border-bottom: 0px;
    border-right: 0px;
    padding: 0px 14px 0px 14px;
    margin: 0px;
}
.navbar-inverse .brand img {
    position: relative;
    top: 2px;
    max-width: 95px;
    max-height: 34px;
}
.navbar-inverse .nav > li > a {
    font-size: 16px;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
    background-color: #2980B9;
    border-bottom-color: #3498DB;
}
.sidebar-nav {
    background-color: #ECF0F1;
    padding: 20px 0px;
}
.checkbox.checked .icons,
.radio.checked .icons {
    color: #3498DB;
}
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #3498DB;
}