.sidebar-nav {
    position: fixed;
    top: 54px;
    left: 0px;
    bottom: 0px;
    padding: 0px 18px 0px 17px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ECF0F1;
}
.sidebar-nav a {
    text-decoration: none;
    color: #2C3E50;
    margin: 20px 0px;
}
#row-top {
    margin-top: 54px;
}
.content-container {
    margin-left: 280px;
    max-width: 960px;
}