#row-top {
    margin-top: 54px;
}
.sidebar-nav {
    position: fixed;
    top: 54px;
    left: 0px;
    bottom: 0px;
    padding: 0px 18px 0px 17px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ECF0F1;
}
.sidebar-nav a {
    text-decoration: none;
    color: #2C3E50;
    margin: 20px 0px;
}
#nav-admin-container {
    width: 12%;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer li {
    display: inline;
}
footer a {
    color: #1ABC9C;
}
#primary-footer {
    margin-top: 40px;
    border-top: 1px solid #ECF0F1;
    padding: 20px 0px 40px 0px;
}
@media (min-width: 1200px) and (max-width: 1300px) {
    #nav-admin-container {width: 13%;}
}
@media (min-width: 979px) and (max-width: 1200px) {
    #nav-admin-container {width: 14%;}
}
@media (min-width: 767px) and (max-width: 979px) {
    #content-container {width: 95%}
}